<nav class="navbar navbar-light bg-danger">
    <a class="navbar-brand" href="/">
        <img src="/img/original.png">
    </a>
    <a class="navbar-brand text-light" href="/perguntar">
        Fazer Perguntas
    </a>
    
</nav>